# Ignore anything inside these folders
lib/**
build/Debug/**
build/Release/**


# Ignore Files
.cache

# But keep the folder itself
!lib/
!build/
!build/Debug/
!build/Release/

# Keep The following files
!build/Debug/*.md
!build/Release/*.md
!lib/*.md
